<%= render "wigs", wig: @wig %>


<div>
  <p>
    <% if policy(@wig).edit? %>
      <%= link_to "Edit this wig", edit_wig_path(@wig) %>
    <% end %>
  </p>

<%= link_to "DELETE", wig_path(@wig), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this wig?"}, class: "btn-edit" %>


</div>
